

@font-face {
    font-family: 'adelle';
    src: url('fonts/adelle_bold-webfont.woff2') format('woff2'),
         url('fonts/adelle_bold-webfont.woff') format('woff'),
         url('fonts/adelle_bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tahoma regular';
    src: url('fonts/tahoma_regular_font-webfont.woff2') format('woff2'),
         url('fonts/tahoma_regular_font-webfont.woff') format('woff'),
         url('fonts/tahoma_regular_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'tahoma bold';
    src: url('fonts/tahoma-bold_font-webfont.woff2') format('woff2'),
         url('fonts/tahoma-bold_font-webfont.woff') format('woff'),
         url('fonts/tahoma-bold_font-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*{ margin:0; padding:0; box-sizing:border-box; -webkit-box-sizing:border-box; border: none; outline: none;}
header,footer,aside,nav,section{ display:block;}
ul,li{ list-style:none; margin:0; padding:0;}
a{ text-decoration:none; margin:0; padding:0;}
img, a { border:none; outline:none;}
.clear{margin: 0; padding: 0; font-size: 0; height: 0; line-height: 0;clear: both;}
.left{ float:left;}
.right{ float:right;}
.center{ text-align:center;}
.text-right{ text-align:right;}
.full-width{ width:100% !important}
.margin-135{margin:135px 0;}
h1,h2,h3,h4,h5,h6,p{margin:0; padding:0;}

/*********************************************header*********************************/

.topbar_contactInfo,.topbar_socialLink {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.topbar {
    background: #000000;
    padding: 10px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.topbar_contactInfoLink,.topbar_socialLinkIcon{
    color: #fff;
    display: inline-block;
	font-size: 15px;
    font-family: 'tahoma regular';
}
.topbar_socialLinkIcon {
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #000;
    margin: 0 5px;
}
.topbar_contactInfoLink i {
    padding-right: 14px;
}
.topbar_link {
    display: flex;
    justify-content: end;
}
.topbar_linkItems {
    color: #fff;
    padding: 0 10px;
    font-size: 15px;
    font-family: 'tahoma regular';
}
.topbar_linkItems i{
    margin-right: 10px;
}

/************************************************Logo wrapper**********************************************/

.logo-wrapper {
    padding: 15px 0;
    background: #c51931;
/*    border-top: 3px solid #bcd2cfde;*/
}
.logo-wrapper img{
    max-width: 100%;
}

/************************************************navbar**********************************************/

.custom_navbar .navbar {
    margin-bottom: 0;
    padding:  0px!important;
    min-height: 0px;
}
 .custom_navbarContent .nav>li>a:hover,.custom_navbarContent .nav>li>a:focus {
    background-color:transparent; 
}
.custom_navbarContent .navbar-nav>li>a {
    padding-top: 8px!important;
    padding-bottom: 8px!important;
    font-size:18px;
    font-family: 'adelle bold';
    font-weight:600;
    text-transform:uppercase;
    color:#fff;
}
  .custom_navbarContent .navbar-nav>li>a.active{
        color:#da4a71;
    }
.custom_navbar {
    background: linear-gradient(180deg, #6f0c1a 0%, #901121 50%, #6f0c1a 100%);
}
.custom_navbar .navbar-toggle {
    border: 2px solid #fff;
}
.custom_navbar .navbar-toggle .icon-bar {
    background: #fff;
    height: 3px;
}
/************************************************banner**********************************************/
.banner img{
	width:100%;
}
.banner .banner_image {
    width: 100%;
    height: auto;
    position: relative;
}
.banner_image:after {
    content: '';
    background-image: url(../img/diagonal-lines.png);
    /* background-repeat: no-repeat; */
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
}
/*.banner_text {
    top: 15%;
    position: absolute;
    transform: translateY(-15%);
}*/
/*.banner .banner_text h1 {
    color: #c4c0c3;
    font-family: 'EB Garamond';
    font-size: 70px;
    font-weight: 700;

    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
    margin-bottom: 40px;
}*/
/*.banner .banner_text h6 {
    color: #c4c0c3;
    font-family: 'EB Garamond';
    font-size: 40px;
    font-weight: 700;
    line-height: 1;
    margin: 0px;
    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
}
.banner .banner_text p {
    font-family: 'EB Garamond';
    font-size: 41px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0px;
    color: #000;
}*/
.newsletter {
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 7px 0px;
    background: #6a6a6a;
}
.signupBlock{
    padding: 7px 0;
    text-align: center;
    background: #6a6a6a;
}
.signupBlock label {
    font-size: 18px;
    color: #fff;
    font-weight: 400;
	padding: 0 20px 0 0;
    font-family: 'tahoma regular';
}
.signupBlock input[type="text"],input[type="email"] {
    padding: 10px 12px;
	margin-right:5px;
	color:#6a6a6a;
     font-family: 'tahoma regular';
     line-height: 1;

}
.signupBlock button {
    background: linear-gradient(180deg, #931122 0%, #bc0134 50%, #931122 100%);
   /* padding-left: 25px;*/
    color: #fff;
    font-size: 18px;
    font-family: 'adelle';
    text-transform: uppercase;
    border: 2px solid #c1c7c9;
/*    padding-right: 25px;*/
    border-radius: 5px;
         padding: 10px 25px; 
         line-height: 1;
}
/************************************************popular category**********************************************/
.heading {
    font-size: 36px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'adelle';
	color: #000;
	margin-bottom: 25px;
}
.categories_section {
    padding: 50px 0;
	/*position:relative;
    background-image: url('../img/lines.jpg');
    background-repeat: no-repeat;
    background-position: bottom center;*/
}
.categories_blockHeading  {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'adelle';
    text-align: center;
    padding: 10px;
    background: #931122;
    color: #fff;
}
.categories_blockLines{
	position:absolute;
	bottom:0;
	z-index:-1;
}
.categories_block img{
    height: 307px;
}
.arrow_block,
.arrow-block-without-bg{
    position: relative;
    height: auto;
    width: 100%;
}
.arrow_block::after{
    position: absolute;
    content: '';
    right: 0;
    bottom:0;
    width: 50%;
    background: url('../img/arrows.png'),linear-gradient(263deg, black, transparent);
    background-position: center right;
    background-repeat: no-repeat;
    height: 35px;
}
.arrow-block-without-bg::after{
     position: absolute;
    content: '';
    right: 5px;
    bottom:5px;
    width: 30%;
    background: url('../img/arrows.png');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 20px;
}
/*.arrows-image{
    position: absolute;
    right: 0;
    bottom:0;
    width: 50%;
    background: linear-gradient(263deg, black, transparent);
}
.arrows-image img{
    height: auto;
}*/
.categories_block img,.categories_blockLines img{
	width:100%;
}

/*buyshell section*/
.buy_sell {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    margin: 0px;
    background-image: url(../img/buy_shell_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.buy_sell .buy_sell_content {
    width: 100%;
    text-align: center;
}
.buy_sell .buy_sell_content h3 {
    font-family: 'EB Garamond';
    font-size: 35px;
    font-weight: 700;
    line-height: normal;
    color: #fff;
    text-shadow: 3px 3px 8px rgb(0 0 0 / 86%);
    max-width: 460px;
    text-align: center;
    display: block;
    margin: 0px auto;
}
.buy_sell .buy_sell_content a {
    font-family: 'EB Garamond';
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(180deg, rgba(153,14,37,1) 0%, rgba(189,0,52,1) 50%, rgba(153,14,37,1) 100%);
    padding: 10px 20px;
    border: 3px solid #809d95;
    border-radius: 3px;
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-top: 27px;
    transition: all .3s ease-in-ease;
    letter-spacing: 2px;
}
/*buyshell section ends*/
/*.newArrival_row > .col-md-2{
	width:20%;
}*/
.newArrivalBlock img {
    width: 100%;
}
.newArrivalBlock_heading {
    font-size: 21px;
    font-family: 'tahoma';
    font-weight: bold;
	margin: 10px 0;
	text-transform: uppercase;
}
.newArrivalBlock {
    text-align: center;
	margin-bottom: 50px;
}
.newArrivalBlock_para {
    font-size: 18px;
    font-family: 'tahoma';
	margin-bottom: 10px;
	color: #000;
}
.newArrivalBlock_price {
    color: #931122;
    font-weight: bold;
    font-size: 30px;
    font-family: 'tahoma';
}


.newArrival{
	padding:30px 0;
}
.footer_wrapper{
	background:#2c2c2c;
	text-align:center;
	color:#fff;
	position:relative;
}
.footerBlock{
	background:url("../img/diagonal.png");
	background-size:cover;
	padding: 60px 0;
    font-family: 'tahoma';
}
.footerBlock_heading {
    font-size: 28px;
    margin: 15px 0;
	text-transform: uppercase;

}
.footerBlock_subHeading {
    font-size: 24px;
    margin-bottom: 8px;
}
.copyrightBlock {
    background: #000;
    padding: 10px 0;
    font-family: 'tahoma';
    font-size: 18px;
}
.copyrightBlock p {
    font-size: 18px;
}

.footer_wrapper:before {
    content: "";
    position: absolute;
    top: -46px;
    background-size: cover;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    background: url(../img/lines2.jpg);
    height: 50px;
}

/*********************************************categories page css start************************/
.categories_linkList {
    display: flex;
    /*justify-content: space-between;*/
}
.categories_linkDropdown {
    float: right;
}
.categories_link {
    margin-bottom: 30px;
}
.categories_linkItems a {
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #b3b3b3;
	display:inline-block;
	font-family: 'tahoma';
}
.categories_linkItems a.active,.categories_linkItems a:hover {
    color: #931122;
	text-decoration:none;
}
.categories_linkItems{
	position:relative;
    margin: 0 20px 0 0;
}
.categories_linkItems:after {
    content: "/";
    position: absolute;
    right: -10px;
    font-size: 21px;
    top: 50%;
    transform:translateY(-50%);
    font-weight: bold;
	color: #b3b3b3;
}
.categories_linkItems:last-child:after{
	display:none;
}
.categories_linkDropdown {
    float: right;
    font-size: 16px;
    font-weight: bold;
    font-family: 'tahoma';
	color: #b3b3b3;
}
.categories_block li{
	display:flex;
	justify-content:space-between;
    align-items:center;
}
.categories_block li label{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-family: 'tahoma';
    font-weight: normal;
}
.left_section_wrapper .left_section_select input[type=radio]{
        appearance: none;
    border-radius: 50%;
    background-color: #dedede;
    height: 20px;
    width: 20px;
    border: 5px solid #b3b3b3;
    margin:0 5px 0 0; 
}
.left_section_wrapper .left_section_select  input[type="radio"]:checked{
    border: none;
    background: #931122;
    outline: none;
}
.categories_left_mainHeading {
    font-size: 28px;
    font-weight: bold;
    font-family: 'adelle';
    margin-bottom: 20px;
	    text-transform: uppercase;
}
.categories_block li {
    font-size: 18px;
    text-transform: capitalize;
    color: #000;
}
.categories_blockQuantity {
    color: #b3b3b3;
    font-weight: bold;
    font-size: 20px;
    font-family: 'tahoma';
}
.categories_leftHeading {
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: 'Poppins';
    margin-bottom: 8px;
}
.categories_block {
    margin-bottom: 25px;
}
.categories_left_searchBar {
    display: flex;
    justify-content: space-between;
	margin-bottom: 30px;
}
.categories_left_searchBar input{
	width:100%;
	font-size:18px;
	border: 2px solid #ddd;
    padding: 5px 10px;
}
.categories_left_searchBar button {
    background: none;
    font-size: 18px;
    color: #ddd;
    padding: 0 5px;
}
.customPagination {
    text-align: center;
}
.customPagination a {
    border: none!important;
    color: #929292!important;
    font-weight: bold;
    font-family: 'Poppins';
    font-size: 18px;
}
.customPagination ul li.active a {
    background: none;
    color: #900a15!important;
}






/*********************************************responsive************************/

@media screen and (max-width:990px) {
        .custom_navbarContent .navbar-nav>li>a{
            font-size: 14px;
        }

        .form-inline .form-group{
            margin-bottom: 15px;
        }
        .categories_blockHeading{
        font-size: 20px;
        }
        .categories_block img, .categories_blockLines img{
            height: 100%;
        }
    }
@media screen and (max-width:768px){
    .signupBlock label{
        padding: 0;
    }
	.topbar_link {
		justify-content: center;
		margin: 10px 0;
	}
	.topbar_contactInfo {
		display: block;
		text-align:center;
	}
	.topbar_socialLink {
		justify-content: center;
	}
    .banner_text{
        transform: unset;
    }
    .banner .banner_text h6{
        font-size: 15px;
    }
    .banner .banner_text h1{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .banner .banner_text p{
        font-size: 13px;
    }
    .custom_navbarContent .navbar-nav>li>a{
        font-size: 13px;
        padding-bottom: 0px!important;
    }
    .signupBlock button{
        display: block;
        margin: 10px auto;
    }
    .signupBlock label{
    margin-top: 10px;
    }
    .signupBlock input{
        margin-top: 10px;
    }
    .footerBlock_heading{
        font-size: 20px;
    }
    .footerBlock_subHeading {
        font-size: 20px;}
        .footerBlock{
            padding: 40px 0;
        }
        .copyrightBlock p {
            font-size: 13px;
        }
        .newArrivalBlock_heading{

        }
}
